<% content_for :description, "This is a captured description" -%>
<% content_for :nav do -%>
  <ul>
    <li><%= link_to _("Products"), "/products" %></li>
    <li><%= link_to("/about", check_broken: false) { _ "About" } %></li>
  </ul>
<% end -%>

<article>
  <%# Test calling render with some patterns %>
  <%= render "/shared/greetings", greetings: %>
  <%= render "/shared/greetings.html.erb", greetings: %>
  <%= render HiComponent.new %>
</article>

<%= foo do %>
  <h1>Hi from foo!</h1>
<% end %>
