想定と異なる成果物、遅れる納期、変更の難しいコードベース。

ソフトウェア開発につきものの課題を解決、あるいは未然に防ぐためにできることはなんだろう？

アジャイル開発をベースに小さなリリースを積み重ねることで、素早く成果を届け、必要に応じて柔軟な方向修正を可能とすること。
整理されたコードベースやテストコードを維持する努力により変更に強いソフトウェアを作ること。

基本的なプラクティスを大切にしながら、 今、このプロジェクトでできることはなんだろうか？

こえだ舎は考えつづけます。

<%= contact %>

### Works

Ruby on RailsやHotwireを用いた、ウェブアプリケーションの素早い開発を得意分野としています。
フロントエンドやネイティブアプリの開発もご相談ください。
クライアント案件はスクラムが多いですが、 個人プロダクト開発ではGetting RealやShape Up（37signals社）の手法を参考にしています。

リフォームポータルサイトの新規開発<%= tech_icon_tag(:rails) %><%= tech_icon_tag(:react) %>
: リフォームポータルサイトの新規開発を行いました。後払いシステムなどの決済サービスの新規開発も。サービスの成長過程においてフレームワークのアップグレード（アセット配信の刷新）なども担当。
  高速な開発によるサービスの早期立ち上げと、継続的な成長と改善を支援。

リユース品買取サービスのコードベース改善<%= tech_icon_tag(:rails) %>
: リユース品買取サービスのコードベース改善を行いました。JavaScriptの構造化、フレームワークのバージョンアップなどを行いました。

リユース品即時買取サービスのバックエンド開発<%= tech_icon_tag(:rails) %><span>Grape</span>
: リユース品即時買取サービスのバックエンド開発を行いました。OpenAPIの活用により、クライアントアプリと開発を同時進行。エンジニア1人で２ヶ月弱でのリリースを実現しました。


本人確認サービスのバックエンド開発<%= tech_icon_tag(:rails) %><%= tech_icon_tag(:react) %>
: 新規機能開発をメインに、機能の実装、コードベース改善、フレームワークのバージョンアップなどを行いました。

マネジメント支援サービスのリニューアル開発<%= tech_icon_tag(:rails) %><%= tech_icon_tag(:nuxt) %>
: 大手企業様のマネジメント支援サービスのリニューアル開発を担当しました。1on1の日程調整機能を担当し、外部サービスとの同期機能を備えたフルカレンダー機能を実装しました。

他

<%= contact %>
