Unexpected deliverables, delayed deadlines, and codebases that are hard to change.

What can we do to solve or prevent the challenges that are inherent in software development?

By building on agile development and delivering small releases, we can quickly deliver results and enable flexible course corrections as needed. By maintaining an organized codebase and test code, we can create software that is resilient to change.

While valuing basic practices, what can we do __right now, in this project__?

Koeda-sha will keep thinking.

<%= contact %>

### Works

We specialize in the rapid development of web applications using Ruby on Rails and Hotwire. In product development, we resonate with the Agile Manifesto and draw inspiration from methodologies like Getting Real and Shape Up by 37signals.

New development of a renovation portal site <%= tech_icon_tag(:rails) %><%= tech_icon_tag(:react) %>
: We developed a new renovation portal site, including new payment services such as post-payment systems. During the growth phase of the service, we also handled framework upgrades (e.g., asset delivery updates). We supported the early launch of the service through rapid development and its continuous growth and improvement.

Codebase improvement for a reuse item purchasing service <%= tech_icon_tag(:rails) %><span>Grape</span>
: We improved the codebase for a reuse item purchasing service, including JavaScript structuring and framework version upgrades.

Backend development for an instant reuse item purchasing service <%= tech_icon_tag(:rails) %>
: We developed the backend for an instant reuse item purchasing service. By utilizing OpenAPI, we simultaneously developed the client app. A single engineer achieved the release in less than two months.

Backend development for an identity verification service <%= tech_icon_tag(:rails) %><%= tech_icon_tag(:react) %>
: Focused on new feature development, including implementation, codebase improvement, and framework version upgrades.

Renewal development for a management support service <%= tech_icon_tag(:rails) %><%= tech_icon_tag(:nuxt) %>
: We handled the renewal development of a management support service for a major company. Specifically, we implemented a full calendar feature with synchronization capabilities with external services, focusing on the scheduling function for 1-on-1 meetings.

And more.

<%= contact %>
