<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="" />
  <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : description %>" />
  <title><%= title %></title>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "site" %>
</head>

<body>
  <%= locale_selector_tag %>
  <header>
    <h1><%= title %></h1>
    <nav>
      <%= yield :nav %>
    </nav>
  </header>
  <% if content_for? :inner_layout %>
    <%= yield :inner_layout %>
  <% else %>
    <main>
      <%= yield %>
    </main>
  <% end %>
</body>

</html>
