<article class="devs">
  <h2>
    <span><%= _ "アプリケーションを" %></span>
    <span><%= _ "こえだ舎とつくる" %></span>
  </h2>

  <% contact = capture do %>
    <% link_to "mailto:hi@koeda.jp", class: "devs__contact" do %>
      <%= icon_tag("mail") %>
      <span>hi@koeda.jp</span>
    <% end %>
  <% end %>

  <%= render_markdown do %>
    アプリケーション開発の現場ではとにかくさまざまな課題につき当たります。

    複雑にからまりあい変更や修正作業の難しいコードベース。遅くなり続けるパフォーマンス。DX（デベロッパーエクスペリエンス）と開発者のモチベーション低下、等々。

    こえだ舎はアプリケーション開発における課題解決をお手伝いいたします。

    <%= contact %>

    ### Technologies

    提供できる価値の最大化にこだわり、アプリケーション開発にこれらの技術を用いています。

    Ruby on Rails
    : Ruby製のウェブアプリケーションフレームワーク

    Hotwire
    : インタラクティブなウェブアプリのためのライブラリ

    Hotwire Native
    : 最低限のコストでウェブアプリのネイティブアプリケーション化

    ### Works

    TBD

    ### Information

    TBD

    <%= contact %>
  <% end %>
</article>
