<article id="index">
  <section class="hero">
    <h1>
      <%= inline_svg_tag("images/koeda-sha_logo.svg") %>
    </h1>
    <ul id="businesses" class="gradient-text">
      <li>
        <%= link_to "Apps", "/apps", class: "underline" %>
      </li>
      <li>
        <%= inline_svg_tag("images/koeda.svg") %>
      </li>
      <li>
        <%= link_to "Development Service", "/devs/", class: "underline" %>
      </li>
    </ul>
  </section>

  <section class="news">
    <h2>News</h2>
    <ul>
      <% news.each do |news| %>
        <%= link_to "/news/#{news.slug}" do %>
          <li>
            <time datetime="<%= news.date.to_s %>"><%= news.date %></time>
            <span><%= news.title %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section class="blog">
    <h2>Blog</h2>
    <ul>
      <% posts.each do |post| %>
        <%= link_to "/posts/#{post.slug}" do %>
          <li>
            <time datetime="<%= post.date.to_s %>"><%= post.date %></time>
            <span><%= post.title %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section class="profile">
    <%= link_to "https://www.wantedly.com/id/hara_koeda", class: "profile-link", target: "_blank" do %>
      <%= _ "代表者プロフィール" %>
      <%= lucide_tag "external-link" %>
    <% end %>
    <dl>
      <dt><%= _ "事業名" %></dt>
      <dd><%= _ "こえだ舎（Koeda-sha）" %></dd>

      <dt><%= _ "住所" %></dt>
      <dd>〒150-0044 <%= _ "東京都渋谷区円山町5番3号" %></br><%= _ "MIEUX渋谷ビル8階" %></dd>

      <dt><%= _ "お問合せ" %></dt>
      <dd><a href="mailto:info@koeda.jp">info@koeda.jp</a></dd>
    </dl>

    <div class="hotpages">
      <%= link_to "https://github.com/koedasha/koeda.jp", target: "_blank" do %>
        <%= lucide_tag "github" %>
      <% end %>
      <br/>
      Built with <%= link_to "Hotpages", "https://github.com/koedasha/hotpages", target: "_blank" %>
    </div>
  </section>
</article>
