<% content_for :inner_layout_content do %>
  <nav class="app-nav">
    <h2>
      <%= link_to "/apps/#{app.slug}/" do %>
        <%= image_tag(content_for(:app_image), alt: content_for(:app_name)) %>
        <%= content_for :app_name %>
      <% end %>
    </h2>
  </nav>
  <main>
    <%= yield %>
  </main>
<% end %>
<%= render "layouts/site" %>
