<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="" />
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : site_description %>" />
  <title><%= content_for?(:title) ? "#{yield(:title)} | #{site_name}" : site_name %></title>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "site" %>
</head>

<body>
  <%= locale_selector_tag(id: "locale-selector", class: "no-user-select") do |locale| %>
    <%= icon_tag "languages" %>
    <%= locale.upcase %>
  <% end %>

  <% if header? %>
    <header class="gradient-text">
      <h1><%= link_to site_name, "/" %></h1>
    </header>
  <% end %>

  <% if content_for?(:inner_layout_content) %>
    <%= content_for(:inner_layout_content) %>
  <% else %>
    <main>
      <%= yield %>
    </main>
  <% end %>

  <%= turbo_frame_tag :remote_modal %>

  <%= init_lucide_tag %>
</body>

</html>
