<!DOCTYPE html>
<html lang="<%= locale %>">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="" />
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : site_description %>" />
  <title><%= content_for?(:title) ? "#{yield(:title)} | #{site_name}" : site_name %></title>
  <link rel="icon" href="<%= asset_path("images/favicon.ico") %>" type="image/x-icon">
  <link rel="apple-touch-icon" href="<%= asset_path("images/apple-touch-icon.png") %>">
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "site" %>
</head>

<body>
  <%= locale_selector_tag(id: "locale-selector", class: "no-user-select") do |locale| %>
    <%= lucide_tag "languages" %>
    <%= locale.upcase %>
  <% end %>

  <% if header? %>
    <header>
      <h1>
        <% if header_logo_link_to_top? %>
          <%= link_to "/" do %>
            <%= inline_svg_tag("images/koeda-sha_logo.svg") %>
          <% end %>
        <% else %>
          <%= inline_svg_tag("images/koeda-sha_logo.svg") %>
        <% end %>
      </h1>
    </header>
  <% end %>

  <% if content_for?(:inner_layout_content) %>
    <%= content_for(:inner_layout_content) %>
  <% else %>
    <main>
      <%= yield %>
    </main>
  <% end %>

  <%= turbo_frame_tag :remote_modal %>
</body>

</html>
