<!DOCTYPE html>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="" />
  <meta name="description" content="<%= description %>" />
  <title><%= title %></title>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "site" %>
  <style></style>
</head>

<body>
  <header>
    <h1><%= title %></h1>
    <p><%= subtitle %></p>
  </header>

  <main>
    <%= yield %>
  </main>

  <%= turbo_frame_tag :remote_modal %>
</body>

</html>
